<div class="update-password-page">



  <div class="d-flex flex-row justify-content-center">
    <div class="flex-column pt-5">
      <h1 class="pb-3">Modification de votre mot de passe</h1>


      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="oldPassword">Votre mot de passe actuel</label>
          <input type="password" class="form-control" id="oldPassword" aria-describedby="passwordHelp" placeholder="Entrez votre ancien mot de passe" formControlName="oldPassword"
                 [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" >
          <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">Votre mot de passe est obligatoire</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Nouveau mot de passe </label>
          <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="Entrez votre nouveau mot de passe" formControlName="password"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Votre nouveau mot de passe est obligatoire</div>

          </div>
        </div>

        <div class="form-group">
          <label for="passwordConfirm">Confirmation</label>
          <input type="password" class="form-control" id="passwordConfirm" aria-describedby="passwordHelp" placeholder="Confirmer votre mot de passe" formControlName="passwordConfirm"
                 [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" >
          <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
            <div *ngIf="f.passwordConfirm.errors.required">Votre confirmation de mot de passe est obligatoire</div>
            <div *ngIf="f.passwordConfirm.errors.mustMatch">Les mots de passe ne correspondent pas</div>

          </div>
        </div>

      </form>
    </div>
  </div>


  <div class="d-flex flex-column align-items-center pt-5">
    <button type="submit" class="btn btn-primary small-btn-confirm" (click)="onSubmit()">Confirmer</button>
    <div class="alert alert-danger mt-4" *ngIf="submitted && !isUpdated">
      {{ errorMessage }}
    </div>
  </div>



</div>
