<nav class="navbar navbar-expand-lg navbar-light">
  <img class="logo" src="../../../assets/logo.png" height="512" width="512"/>
  <a class="navbar-brand" href="#">
    <span class="title-bar pl-4">BabouinMalin</span>
    <span class="sub-title">.com</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav nav-pills m-md-auto mr-4">
    <li class="nav-item">
      <a class="nav-link sp-item" href="#">Rercherche</a>
    </li>
    <li class="nav-item">
      <a class="nav-link sp-item" href="#">Mes demandes</a>
    </li>
    <li class="nav-item">
      <a id="new-barter" class="nav-link" href="#">
        <div class="d-flex flex-row">
          <i id="plus-symbol" class="fa fa-plus-circle" aria-hidden="true"></i>
          <span class="pl-2 pr-2">Nouveau troc</span>
        </div>
      </a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <div class="d-flex flex-column">
        <i id="user-icon" class="fa fa-user"></i>
        <a id="connect" class="nav-link " href="#">Se connecter</a>
      </div>
    </li>
  </ul>

  </div>

</nav>
