.navbar {
  background-color: #007CA2;
  border-radius: 0;
  max-height: 80px;
}

a:hover {
  text-decoration: none;
}

a:hover #user-icon {
  color: darkorange;
}

a:hover #connect {
  color: darkorange;
}




.nav-link {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
}

#new-barter {
  background-color: white;
  color: #007CA2!important;
  border-radius: 10px;
  margin-left: 30px;
}

#plus-symbol {
  padding-top: 5px;
}

#connect {
  font-size: 10px;
}


.sp-item {
  padding-left: 70px;
}


.title-bar {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.logo {
  max-width: 80px;
  height: auto;
  padding-top: 18px;
  resize: none;
  transform: scaleX(-1);
}

.sub-title {
  color: white;
  font-weight: bold;
  font-size: small;
}

#account {
  font-size: 80%;
  color: white;

}

#global-account {
  padding-right: 20px;
}

@media (max-width: 1150px) {
  .navbar {
    max-height: 20%;
  }
  .sp-item {
    padding-top: 10px;
    padding-left: 0;
  }

  #user-icon {
    visibility: hidden;
  }

  #global-account {
    font-size: 20px;
    flex-direction: row;
  }
}




