<nav class="navbar navbar-expand-lg navbar-light">
  <img class="logo" src="../../../assets/logo.png" height="512" width="512"/>
  <a class="navbar-brand" href="#">
    <span class="title-bar pl-4">BabouinMalin</span>
    <span class="sub-title">.com</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav nav-pills m-md-auto mr-4">
    <li class="nav-item">
      <a class="nav-link sp-item" href="/search">Recherche</a>
    </li>
    <li class="nav-item">
      <a class="nav-link sp-item" href="/my-barters">Mes demandes</a>
    </li>
    <li class="nav-item">
      <a id="new-barter" class="nav-link" href="/barter-form">
        <div class="d-flex flex-row">
          <i id="plus-symbol" class="fa fa-plus-circle" aria-hidden="true"></i>
          <span class="pl-2 pr-2">Nouveau troc</span>
        </div>
      </a>
    </li>

  </ul>

  <ul id="global-account" class="navbar-nav float-right d-flex flex-column">
    <li class="nav-item ">
      <a *ngIf="!currentUser" id="account" class="d-flex flex-column align-items-center" href="/login"><i id="user-icon" class="fa fa-user fa-3x" aria-hidden="true"></i>
        <span id="connect">Se connecter</span>
      </a>

      <a *ngIf="currentUser" id="account" class="d-flex flex-column align-items-center" href="/profile"><i id="user-icon" class="fa fa-user fa-3x" aria-hidden="true"></i>
        <span id="connect">Mon compte</span>
      </a>
    </li>
  </ul>



  </div>

</nav>
