input {
  border-color: #007CA2;
  border-radius: 50px;
  width: 400px;
}

a {
  color: black;
  text-decoration: underline;
}

.auth-login-page {
  margin-top: 40vh;
  transform: translateY(-50%);
}
