<div class="profile-page">


  <div id="title" class="">
    <h1>Bienvenue</h1>
    <h1>Gosselin Corentin</h1>
  </div>

  <div id="profile" class="d-flex flex-row">

    <img src="../../assets/happy-monkey.png" height="312" width="312"/>

    <div id="info" class="ml-4">
      <h3>Mes informations</h3>

      <div id="card" class="d-flex flex-column p-3">
        <span>Email corentin.gosselin@supinfo.com</span>
        <a>modifier mon adresse mail</a>
        <a>modifier mon mot de passe</a>

      </div>
    </div>
  </div>
</div>
