<div class="my-barter-page">


  <div class="d-flex flex-row container align-items-center">

    <div id="left-side" class="d-flex flex-column">

      <div id="banner">

        <div class="d-flex flex-column">
          <div class="d-flex flex-row align-items-center">
            <h1 id="title-banner">{{barter?.title}}</h1>
            <div id="category">{{category}}</div>
          </div>
          <div class="line"></div>
        </div>
        <div id="description">
          <h3>Description</h3>
          <div class="bubble">
            {{barter?.description}}
          </div>
        </div>

        <div id="desire">
          <h3>Vous désirez ?</h3>
          <div class="bubble">
            {{barter?.desire}}
          </div>
        </div>

      </div>
      <a href="/my-barters"><button id="back" type="button" class="btn btn-primary small-btn-confirm">Revenir à mes annonces</button></a>

    </div>
    <div class="d-flex flex-column align-items-center">
      <div id="img">
      <img height="450px"  width="400px" src="{{url}}">

    </div>
      <button id="delete" type="button" class="btn btn-primary small-btn-confirm" (click)="onDelete()">Supprimer l'annonce</button>
    </div>

  </div>
</div>
