input {
  border-color: #007CA2;
  border-radius: 50px;
  width: 900px;
  height: 60px;
  border-width: 2px;
}

.category {
  border: solid 1px gray;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #007CA2;
  cursor: pointer;
}

.container {
  padding-top: 5%;
}


.card-img-top{
  height: 300px;
  width: 300px;
  margin: auto;
  object-fit: cover;

}

.card-deck{
  margin-top: 10px;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: .5rem;
}
