<div class="home-page">

  <div class="title">
    <div class="d-flex justify-content-center">
      <div id="title-text">
        <h1 id="title">Babouin Malin</h1>
        <h4 id="subtitle">La jungle du troc en ligne</h4>
        <div id="line"></div>
      </div>
      <img id="title-logo" src="../../assets/logo.png" height="512" width="512"/></div>
  </div>

  <div *ngIf="!currentUser" class="d-flex flex-row justify-content-center align-items-center" id="banner">
    <a href="/barter-form"><button type="button" class="btn-main btn btn-primary btn-lg">Proposer un troc</button></a>
    <div id="or">ou</div>
    <a href="/search"><button type="button" class="btn-main btn btn-primary btn-lg">Rechercher</button></a>
  </div>

  <div *ngIf="currentUser" class="d-flex flex-row justify-content-center align-items-center" id="banner">
    <a href="/my-barters"><button id="mytroc" type="button" class="btn-main btn btn-primary btn-lg">Mes trocs</button></a>
    <div id="or">ou</div>
    <a href="/barter-form"><button type="button" class="btn-main btn btn-primary btn-lg mr-5">Proposer un troc</button></a>

    <a href="/search"><button type="button" class="btn-main btn btn-primary btn-lg">Rechercher</button></a>
  </div>


  <div class="container" id="desc-stats">
    <h2>Vous êtes déjà {{stats?.userAmount}} babouins à troquer</h2>

    <div id="shared-barter" class="d-flex flex-row">
      <h3>Avec plus de {{stats?.barterAmount}} trocs partagés</h3>
      <img class="pb-2" src="../../assets/gift.png" height="100" width="100"/>
    </div>

  </div>
</div>
